@model IEnumerable<Mossad_MVC.Models.MissionViewModel>
@{
    ViewData["Title"] = "GetSuggestionMissions";
}

<h1>Manage Tasks System</h1>

<table class="table">
    <thead>
        <script>
            setTimeout(function () {
                window.location.reload(1);
            }, 5000);
        </script>
        <tr>
            <th>
                Agent name
            </th>
            <th>
                Agent location
            </th>
            <th>
                Target name
            </th>
            <th>
                Target location
            </th>
            <th>
                Distnace
            </th>
            <th>
                Status
            </th>
            <th>
                Time left
            </th>
            <th>
                Actions
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AgentName)
                </td>
                <td>
                    @(item.AgentX + "," + item.AgentY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TargetName)
                </td>
                <td>
                    @(item.TargetX + "," + item.TaregtY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeLeft)
                </td>
                <td>
                    <a asp-action="UpdateMissionStatus" asp-route-id="@item.Id" class="btn btn-primary">Assign</a>
                </td>
                <td>
                 @*    @Html.ActionLink("Assign", "UpdateMissionStatus", new { id=item.Id  }) | *@
                    @Html.ActionLink("Details", "GetMissionDetails", new { id = item.Id }) |
                </td>
            </tr>
        }
    </tbody>
</table>
