@model Mossad_MVC.Models.GeneralViewModel

@{
    ViewData["Title"] = "GetAllData";
}

<h1>General Data</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentsCount) 
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentsInActivityCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentsInActivityCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetsKilledCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetsKilledCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MissionsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MissionsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MissionsAssignedCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MissionsAssignedCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelationOfAgentsToTargets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelationOfAgentsToTargets)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.RelationOfAvaliableAgentsToTargets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelationOfAvaliableAgentsToTargets)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
